@font-face {
    font-family: 'Favorit';
    src: url('fonts/FavoritPro-Light.eot');
    src: url('fonts/FavoritPro-Light.woff2') format('woff2'),
        url('fonts/FavoritPro-Light.woff') format('woff'),
        url('fonts/FavoritPro-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Steinbeck-Italic';
  src: url('fonts/Steinbeck-Italic.eot');
  src: url('fonts/Steinbeck-Italic.woff2') format('woff2'),
      url('fonts/Steinbeck-Italic.woff') format('woff'),
      url('fonts/Steinbeck-Italic.ttf') format('truetype')
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;   
}


html, body {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Favorit';
    background-color: black;
    color: white;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar{ display: none; }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

a:hover {
  font-family: 'Steinbeck-Italic';
}

.h1 {
  font-size: 38px;
  line-height: 36px;
}

img {
  width: 100%;
}

.number {
  font-family: 'Steinbeck-Italic';
}

header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: sticky;
  position: -webkit-sticky;
  height: 96px;
  top: 0;
  z-index: 3;
}

#logo {
  grid-area: 1 / 1 / 1 / 2;
  padding: 12px;
  background-color: black;
  display: block;
  text-decoration: none;
  color: white;
}

#logo:hover {
  font-family: 'Favorit';
}

.show-time-1 {
  grid-area: 1 / 2 / 1 / 3;
  padding-left: 1px;
}

.show-time-2 {
  grid-area: 1 / 3 / 1 / 4;
  padding-right: 12px;
}

[class*="show-time-"] {
  background-color: black;
  padding-top: 12px;
}

#show-2 {
  pointer-events: none;
}

.time {
  margin-top: 6px;
  font-size: 57px;
  line-height: 48px;
}

#movie-data-wrapper {
  grid-area: 1 / 2 / 1 / 4;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  padding: 12px 12px 12px 1px;
  background-color: black;
  display: none;
}




/* MENU */
.menu-links-wrapper {
  position: fixed;
  z-index: 4;
  bottom: 0;
  padding: 12px 0 12px 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.menu-links-wrapper .menu-link {
  position: relative;
  width: fit-content;
  color: white;
  text-decoration: none;
  background-color: black;
}

.menu-links-wrapper .this-page {
  width: fit-content;
  z-index: 10;
  pointer-events: none;
}

.this-page:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -6px;
  z-index: -1;
  width: 100%;
  padding: 3px 6px 5px;
  background-color: black;
  border: solid 1px white;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
}



/* MOVIE */
.movie-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-side {
  grid-area: 1 / 1 / 1 / 2;
  height: 100%;
  display: grid;
  grid-template-columns: auto 24px;
  z-index: 1;
}

.black {
  grid-area: 1 / 1 / 1 / 1;
  background-color: black;
}

.fade-out {
  grid-area: 1 / 2 / 1 / 2;
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0));
  z-index: 1;
}

.date {
  grid-area: 1 / 1 / 1 / 2;
  top: 96px;
  height: fit-content;
  padding: 0 12px 12px 12px;
  position: sticky;
  position: -webkit-sticky;
  text-align: right;
  z-index: 2;
}

.overflow-container {
  grid-area: 1 / 2 / 1 / 3;
  overflow-x: hidden;
}

.slider {
  width: 100%;
  display: table;
  position: relative;
}

.movie {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 0 12px 12px 0;
  transition: 0.3s;
  cursor: pointer;
}

.coming-soon {
  cursor: progress;
}

.movie-text {
  display: none;
  position: absolute;
  top: 0;
}

.button-code {
  display: none;
}


/* POPUP */
#popup {
  position: fixed;
  top: 0;
  z-index: 20;
  display: none;
  overflow-y: scroll;
  margin-left: 33.33%;
}

.popup-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto;
  padding: 12px 12px 12px 1px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: black;
  font-size: 38px;
  line-height: 36px;
  z-index: 1;
}

.grid-full {
  grid-area: 2 / 1 / 2 / 3;
}

.day {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
}

#age, #movie-data-age {
  font-size: 18px;
  line-height: 18px;
  margin-left: -5px;
}


#close-button {
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.movie-info-popup {
  padding: 0 12px 12px 0;
  padding-top: 96px;
  background-color: black;
}

.tags {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  margin-bottom: 12px;
  text-transform: none;
}

#director, #language {
  text-align: right;
}

#director:before {
  content: "Реж. ";
}

#language:before {
  content: "Язык: ";
}

#teaser {
  width: 100%;
  display: none;
}

#description {
  font-size: 23px;
  line-height: 24px;
  margin-top: 12px;
  text-transform: none;
}

.button-buy {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  font-family: 'Steinbeck-Italic';
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 18px 0;
  border: none;
  border-top: dashed 1px white;
  color: white;
  background-color: black;
  cursor: pointer;
  outline: none;
}

/* INFO */
.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info-wrapper img {
  padding: 0 12px 12px 0;
}

.flag {
  position: absolute;
  top: 0;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-self: center;
  background-color: black;
  border-radius: 100px;
  z-index: 10;
  font-size: 24px;
  line-height: 21px;
  display: none;
}

.f1 {
  left: 33%;
  top: 12%;
}

.f2 {
  left: 50%;
  top: 77%;
}

.f3 {
  left: 20%;
  top: 44%;
}

.f4 {
  left: 12%;
  top: 85%;
}

.page-intro-container {
  grid-area: 1 / 2 / 1 / 3;
}

.info-list-item {
  margin-bottom: 36px;
}

.info-list-item:last-child {
  margin-bottom: 12px;
}

.info-list-item > div:first-child {
  margin-bottom: 6px;
}

/* CURATOR */
.curator-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.curator-wrapper .date {
  padding-bottom: 18px;
}

.curator-wrapper:last-of-type {
  margin-bottom: 78px;
}

.curator-wrapper img {
  padding: 0 12px 12px 0;
}

.curator-quote {
  text-transform: none;
  margin-bottom: 18px;
}

.curator-list {
  list-style-type: none;
  text-transform: none;
  margin-bottom: 18px;
}

/* PARTNERS */
.partner-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 33.33%;
  margin-bottom: 24px;
}

.partner-wrapper:last-of-type {
  margin-bottom: 0;
}

.partner-wrapper img {
  padding: 0 24px 12px 0;
}



/* RULES */
.rules-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

.rules-wrapper:last-of-type {
  margin-bottom: 12px;
}

.qa-list {
  margin-top: -10px;
  font-size: 23px;
  line-height: 24px;
}

.qa-item {
  border-bottom: solid 1px white;
  padding: 6px 0;
  margin-right: 12px;
  cursor: pointer;
  text-transform: none;
}

.qa-item:hover {
  font-family: 'Steinbeck-Italic';
}



.question {
  display: grid;
  grid-template-columns: auto 24px;
}

.question:after {
  content: '?';
  text-align: right;
  align-self: center;
}

.answer {
  text-transform: none;
  margin: 12px 0 6px;
  display: none;
}

.qa-item.qa-open {
  font-family: 'Steinbeck-Italic';
}

.qa-open .answer{
  display: block;
  font-family: 'Favorit';
}

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  font-size: 12px;
  line-height: 12px;
}

footer div {
  padding: 0 12px 12px 0;
}

footer a {
  text-decoration: none;
  color: white;
}

.contacts {
  grid-area: 1 / 2 / 2 / 3;
  text-transform: none;
}

.social {
  grid-area: 1 / 3 / 1 / 4;
}

.credits {
  grid-area: 1 / 4 / 1 / 5;
  align-self: end;
  text-align: right;
  text-transform: none;
}




@media (max-width:768px) {
  /* INDEX MOBILE */
  html, body {
    font-size: 14px;
    line-height: 14px;
  }

  .h1 {
    font-size: 21px;
    line-height: 20px;
  }

  header {
    height: 84px;
  }

  #movie-data-wrapper {
    display: block;
    z-index: 0;
    opacity: 0;
  }

  #movie-data-age {
    font-size: 10px;
    line-height: 10px;
    margin-left: -2px;
  }

  .date{
    top: 84px;
    text-align: left;
  }

  .show-time-2 {
    text-align: right;
  }

  #show-2 {
    opacity: 0.4;
    pointer-events: all;
  }

  .show-time-2 .time {
    display: none;
  }

  .time {
    margin-top: 4px;
    font-size: 50px;
    line-height: 48px;
    transition: 0.3s;
  }

  .overflow-container {
    grid-area: 1 / 1 / 1 / 3;
  }

  .slider {
    width: 133.33%;
    margin-left: 33.33%;
  }

  footer {
    font-size: 14px;
    line-height: 14px;
    grid-row-gap: 14px;
    padding-bottom: 12px;
  }

  footer div {
    padding: 0;
  }

  .contacts {
    grid-area: 1 / 2 / 2 / 5;
  }
  
  .social {
    grid-area: 2 / 2 / 2 / 5;
  }
  
  .credits {
    grid-area: 3 / 2 / 3 / 5;
    text-align: left;
  }

  #popup {
    margin-left: 0;
  }
  
  .popup-header {
    grid-template-rows: 20px auto;
    font-size: 21px;
    line-height: 20px;
    padding-left: 12px;
  }

  #close-button {
    font-size: 14px;
    line-height: 14px;
  }

  .movie-info-popup {
    padding-top: 48px;
    padding-left: 12px;
  }

  #age {
    font-size: 10px;
    line-height: 10px;
    margin-left: -2px;
  }

  .day {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
  }

  .tags {
    grid-template-columns: 1fr 3fr 3fr;
    font-size: 12px;
    line-height: 12px;
  }


  /* INFO MOBILE */
  .info-wrapper .overflow-container {
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 3;
  }

  .info-wrapper .slider {
    width: auto;
  }

  .info-wrapper .overflow-container::-webkit-scrollbar{ display: none; }
  .info-wrapper .overflow-container { overflow: -moz-scrollbars-none; }
  .info-wrapper .overflow-container { -ms-overflow-style: none; }

  .info-wrapper img {
    width: auto;
    height: 480px;
  }

  .info-slider-pic img {
    height: 100%;
    width: auto;
  }

  .info-list-item {
    margin-bottom: 18px;
  }
  
  .info-list-item > div:first-child {
    margin-bottom: 2px;
  }

  /* CURATOR MOBILE */
  .curator-wrapper .date {
    padding-bottom: 14px;
  }
  
  .curator-wrapper:last-of-type {
    margin-bottom: 42px;
  }

  .curator-quote {
    margin-bottom: 14px;
  }

  /* PARTNER MOBILE */
  .partner-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }

  .partner-wrapper img {
    padding: 0 12px 24px 0;
  }

  /* RULES MOBILE */ 
  .qa-list {
    font-size: 18px;
    line-height: 18px;
    margin-top: -8px;
  }
}