@font-face {
  font-family: 'Favorit';
  src: url('fonts/FavoritPro-Light.eot');
  src: url('fonts/FavoritPro-Light.woff2') format('woff2'),
      url('fonts/FavoritPro-Light.woff') format('woff'),
      url('fonts/FavoritPro-Light.ttf') format('truetype')
}

@font-face {
font-family: 'Steinbeck-Italic';
src: url('fonts/Steinbeck-Italic.eot');
src: url('fonts/Steinbeck-Italic.woff2') format('woff2'),
    url('fonts/Steinbeck-Italic.woff') format('woff'),
    url('fonts/Steinbeck-Italic.ttf') format('truetype')
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;   
}


html, body {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  font-family: 'Favorit';
  background-color: black;
  color: white;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar{ display: none; }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

a{
text-decoration: none;
color: white;
}

a:hover {
font-family: 'Steinbeck-Italic';
}

.h1 {
font-size: 38px;
line-height: 36px;
letter-spacing: -0.8px;
}

img {
width: 100%;
opacity: 1;
transition: opacity 0.3s;
}

img[data-src] {
opacity: 0;
}

.number {
font-family: 'Steinbeck-Italic';
}

.preloader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.preloader-wrapper video {
  height: 100%;
}

header {
display: grid;
grid-template-columns: repeat(3,1fr);
position: sticky;
position: -webkit-sticky;
height: 96px;
top: 0;
z-index: 3;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
}

#logo {
grid-area: 1 / 1 / 1 / 2;
padding: 12px;
height: fit-content;
display: block;
background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
}

#logo:hover {
font-family: 'Favorit';
}

.show-time-1 {
  grid-area: 1 / 2 / 1 / 4;
  padding-left: 1px;
  background-color: black;
}

.show-time-2 {
  grid-area: 1 / 3 / 1 / 4;
  padding-right: 12px;
}

.show-time-3 {
  width: fit-content;
  justify-self: right;
  padding-right: 12px;
  grid-area: 1 / 3 / 1 / 4;
}

.show-time-3 .time {
  display: none;
}

[class*="show-time-"] {
  padding-top: 12px;
}

#show-2 {
  pointer-events: none;
}

#show-3 {
  cursor: pointer;
  position: relative;
}

.time {
  margin-top: 6px;
  font-size: 57px;
  line-height: 48px;
}

#movie-data-wrapper {
grid-area: 1 / 2 / 1 / 4;
position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 10;
padding: 12px 12px 12px 1px;
background-color: black;
display: none;
pointer-events: none;
white-space: nowrap;
text-overflow: ellipsis;
overflow-x: hidden;
}




/* MENU */
.menu-links-wrapper {
position: fixed;
z-index: 4;
bottom: 0;
padding: 12px 0 12px 12px;
text-align: left;
display: flex;
flex-direction: column;
}

.menu-links-wrapper .menu-link {
position: relative;
width: fit-content;
background-color: black;
}

.menu-links-wrapper .this-page {
width: fit-content;
z-index: 10;
pointer-events: none;
}

.this-page:before {
content: '';
position: absolute;
top: -5px;
left: -6px;
z-index: -1;
width: 100%;
padding: 3px 6px 5px;
background-color: black;
border: solid 1px white;
height: 100%;
border-radius: 50%;
display: inline-block;
}



/* MOVIE */
.movie-wrapper {
display: grid;
grid-template-columns: 1fr 2fr;
}

.left-side {
grid-area: 1 / 1 / 1 / 2;
height: 100%;
display: grid;
grid-template-columns: auto 24px;
z-index: 1;
}

.black {
grid-area: 1 / 1 / 1 / 1;
background-color: black;
}

.fade-out {
grid-area: 1 / 2 / 1 / 2;
background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0));
z-index: 1;
}

.date {
grid-area: 1 / 1 / 1 / 2;
top: 96px;
height: fit-content;
padding: 0 12px 12px 12px;
position: sticky;
position: -webkit-sticky;
text-align: right;
z-index: 2;
opacity: 0;
transition: opacity;
}

.overflow-container {
grid-area: 1 / 1 / 1 / 3;
}

.slider {
  width: 66.66%;
  margin-left: 33.33%;
display: table;
position: relative;
}

.movie {
position: relative;
display: table-cell;
vertical-align: top;
width: 33.33%;
padding: 0 12px 12px 0;
transition: 0.3s;
cursor: pointer;
}

.movie img {
  position: sticky;
  position: -webkit-sticky;
  top: 96px;
}

.coming-soon {
cursor: default;
}

.movie-text {
display: none;
position: absolute;
top: 0;
}

.button-code {
display: none;
}


/* POPUP */
#popup {
position: fixed;
top: 0;
z-index: 20;
display: none;
overflow-y: auto;
margin-left: 33.33%;
background-color: black;
}

.popup-header {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 30px auto;
padding: 12px 12px 12px 1px;
position: sticky;
position: -webkit-sticky;
top: 0;
background-color: black;
font-size: 38px;
line-height: 36px;
z-index: 1;
}

.grid-full {
grid-area: 2 / 1 / 2 / 3;
}

.day {
margin-bottom: 12px;
font-size: 18px;
line-height: 18px;
}

#age, #movie-data-age {
font-size: 18px;
line-height: 18px;
margin-left: -5px;
}


#close-button {
cursor: pointer;
font-size: 18px;
line-height: 18px;
text-align: right;
}

.movie-info-popup {
padding: 96px 12px 12px 0;
background-color: black;
}

.tags {
display: grid;
grid-template-columns: 2fr 3fr 3fr;
margin-bottom: 12px;
text-transform: none;
}

#director, #language {
text-align: right;
}

#director:before {
content: "Реж. ";
}

#language:before {
content: "Язык: ";
}

#teaser {
width: 100%;
display: none;
}

#description {
font-size: 23px;
line-height: 24px;
margin-top: 12px;
text-transform: none;
letter-spacing: -0.1px;
}

.button-buy {
position: sticky;
position: -webkit-sticky;
bottom: 0;
font-family: 'Steinbeck-Italic';
text-transform: uppercase;
text-align: center;
height: 100%;
padding: 18px 0;
border: none;
border-top: dashed 1px white;
color: white;
background-color: black;
cursor: pointer;
outline: none;
transition: 0.3s;
}

.button-buy:hover {

}

/* INFO */
.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info-wrapper .slider {
  width: 66.66%;
  border-spacing: 12px 6px;
  height: fit-content;
}

.info-wrapper .scheme-pics-wrapper {
  position: relative;
  display: table-cell;
}

.info-wrapper .scheme-place {
  clip-path: ellipse(50% 50% at 50% 50%);
  border: solid 1px white;
  border-radius: 50%;
  pointer-events: none;
}

.flag {
  position: absolute;
  top: 0;
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-self: center;
  background-color: #2955FF;
  border-radius: 100px;
  font-size: 32px;
  line-height: 30px;
  z-index: 2;
  margin-top: -18px;
  margin-left: -18px;
  cursor: pointer;
  opacity: 0;
}

.f1 {
  left: 19.8%;
  top: 49%;

}

.f2 {
  left: 30%;
  top: 88.8%;
}

.f3 {
  left: 65.1%;
  top: 38.8%;
}

.f4 {
  left: 91.5%;
  top: 34.1%;
}

.info-wrapper .scheme-pic {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 10;
  pointer-events: none;
  clip-path: ellipse(50% 50% at 50% 50%);
  border: solid 1px white;
  border-radius: 50%;
}

.page-intro-container {
  grid-area: 1 / 2 / 1 / 3;
  margin-top: 36px;
  padding-right: 12px;
  margin-bottom: 12px;
}

.info-list-item {
  margin-bottom: 36px;
}

.info-list-item:last-child {
  margin-bottom: 6px;
}

.info-list-item > div:first-child {
  margin-bottom: 6px;
}

/* CURATOR */
.curator-wrapper {
display: grid;
grid-template-columns: 1fr 2fr;
}

.curator-wrapper .date {
padding-bottom: 18px;
}

.curator-wrapper:last-of-type {
margin-bottom: 78px;
}

.curator-wrapper img {
padding: 0 12px 12px 0;
}

.curator-quote {
text-transform: none;
margin-bottom: 18px;
padding-right: 12px;
}

.curator-list {
list-style-type: none;
text-transform: none;
margin-bottom: 18px;
}

/* PARTNERS */
.partner-wrapper {
display: grid;
grid-template-columns: 1fr 2fr;
}

.partner-wrapper .slider {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.partner-wrapper img {
padding: 2px 22px 10px 2px;
}



/* RULES */
.rules {
  margin-top: -6px;
}

.rules-wrapper{
display: grid;
grid-template-columns: 1fr 2fr;
margin: 6px 0;
}

.rules-wrapper:last-of-type {
margin-bottom: 12px;
}

.qa-list {
margin-top: -9px;
font-size: 18px;
line-height: 20px;
}

.qa-item {
border-bottom: solid 1px #4c4c4c;
padding: 8px 0 8px;
margin-right: 12px;
cursor: pointer;
text-transform: none;
letter-spacing: 0.2px;
}

.rules-wrapper:last-child .qa-item:last-child {
  border: none;
}

.qa-item:hover .question:after{
content: '+';
}

.question {
display: grid;
grid-template-columns: auto 24px;
}

.question:after {
content: '?';
text-align: right;
align-self: center;
}

.answer {
text-transform: none;
margin: 18px 0;
display: none;
}

.qa-item.qa-open .question{
font-family: 'Steinbeck-Italic';
font-size: 18px;
line-height: 18px;
padding-top: 4px;
display: none;
}

.qa-item.qa-open .question:after{
align-self: start;
content: '-';
}

.qa-open .answer{
display: block;
font-family: 'Favorit';
}

/* FOOTER */
footer {
display: grid;
grid-template-columns: 2fr 2fr 1fr 1fr;
grid-template-rows: 1fr auto;
font-size: 12px;
line-height: 12px;
letter-spacing: 0px;
}

footer div {
padding: 0 12px 12px 0;
}

.contacts {
grid-area: 1 / 2 / 2 / 3;
text-transform: none;
}

.social {
grid-area: 1 / 3 / 1 / 4;
}

.credits {
grid-area: 1 / 4 / 1 / 5;
align-self: end;
text-align: right;
text-transform: none;
}




@media (max-width:768px) {
/* INDEX MOBILE */
html, body {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
}

.h1 {
  font-size: 21px;
  line-height: 20px;
  letter-spacing: 0;
}

header {
  height: 84px;
}

#movie-data-wrapper {
  display: block;
  z-index: 0;
  opacity: 0;
  white-space: normal;
  overflow-x: auto;
  height: fit-content;
  min-height: 84px;
}

#movie-data-age {
  font-size: 10px;
  line-height: 10px;
  margin-left: -2px;
}

#logo {
  background-color: black;
}

#logo .number {
  display: block;
}

.date{
  top: 84px;
  text-align: left;
}

[class*="show-time-"] {
  height: 84px;
}

.show-time-2 {
  text-align: right;
  grid-area: 1 / 2 / 1 / 4;
}

#show-1 {
  opacity: 0.4;
}

#show-2 {
  pointer-events: all;
}

.show-time-1 .time {
  display: none;
}

.show-time-2 .time {
  text-align: left;
}

.time {
  margin-top: 4px;
  font-size: 50px;
  line-height: 48px;
  transition: 0.3s;
}

.overflow-container {
  grid-area: 1 / 1 / 1 / 3;
  overflow-x: hidden;
}

.slider {
  width: 133.33%;
  margin-left: 33.33%;
}

footer {
  font-size: 14px;
  line-height: 14px;
  grid-row-gap: 14px;
  padding-bottom: 12px;
}

footer div {
  padding: 0;
}

.contacts {
  grid-area: 1 / 2 / 2 / 5;
}

.social {
  grid-area: 2 / 2 / 2 / 5;
}

.credits {
  grid-area: 3 / 2 / 3 / 5;
  text-align: left;
}

#popup {
  margin-left: 0;
}

.popup-header {
  grid-template-rows: 20px auto;
  font-size: 21px;
  line-height: 20px;
  padding-left: 12px;
}

#close-button {
  font-size: 14px;
  line-height: 14px;
}

.movie-info-popup {
  padding-top: 48px;
  padding-left: 12px;
}

#age {
  font-size: 10px;
  line-height: 10px;
  margin-left: -2px;
}

.day {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 6px;
}

.tags {
  grid-template-columns: 1fr 3fr 3fr;
  font-size: 12px;
  line-height: 12px;
}

.movie {
  transform: translateX(-100%);
}

.movie img {
  position: initial;
}


/* INFO MOBILE */
.info-wrapper .overflow-container {
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 3;
}

.info-wrapper .slider {
  width: auto;
}

.info-wrapper .overflow-container::-webkit-scrollbar{ display: none; }
.info-wrapper .overflow-container { overflow: -moz-scrollbars-none; }
.info-wrapper .overflow-container { -ms-overflow-style: none; }

.info-wrapper img {
  width: auto;
  height: 480px;
}

.info-slider-pic img {
  height: 100%;
  width: auto;
}

.info-list-item {
  margin-bottom: 18px;
}

.info-list-item > div:first-child {
  margin-bottom: 2px;
}

.info-list-item:last-child {
  margin-bottom: 0px;
}

/* CURATOR MOBILE */
.curator-wrapper .date {
  padding-bottom: 14px;
}

.curator-wrapper:last-of-type {
  margin-bottom: 42px;
}

.curator-quote {
  margin-bottom: 14px;
}

/* PARTNER MOBILE */
.partner-wrapper {
  margin-bottom: 0px;
}

.partner-wrapper .slider {
  grid-template-columns: repeat(4, 1fr);
  width: 66.66%;
}

.partner-wrapper img {
  padding: 0 12px 24px 0;
}

/* RULES MOBILE */ 
.rules-wrapper{
  margin-bottom: 6px;
}

.qa-list {
  font-size: 14px;
  line-height: 14px;
  margin-top: -6px;
}

.qa-item.qa-open .question{
  font-family: 'Steinbeck-Italic';
  font-size: 12px;
  line-height: 12px;
  padding-top: 2px;
}

.answer {
  margin: 14px 0 12px;
}
}